extends layout

block content
  .row
    #diet.dc-chart
      strong Diets by Cost
      a.reset(href="javascript:dietPie.filterAll();dc.redrawAll();",style="display:none;") reset
      .clearfix
    #month.dc-chart
      strong Months by Cost
      a.reset(href='javascript:monthPie.filterAll();dc.redrawAll();',style='display:none;') reset
      .clearfix
  .row
    #category.dc-chart
      strong Category by Cost 
      a.reset(href='javascript:monthPie.filterAll();dc.redrawAll();',style='display:none;') reset
      .clearfix
    #store.dc-chart
      strong Retailer 
      a.reset(href="javascript:storePie.filterAll();dc.redrawAll();",style="display:none;") reset
      .clearfix
  .row
    .dc-data-count.dc-chart
      span.filter-count
      | &nbsp;selected out of&nbsp;
      span.total-count
      | &nbsp;records | 
      a(href="javascript:dc.filterAll(); dc.renderAll();") Reset All
  .row
    h4 Frequency of Grocery Store Visits
    //- p On average, I made <span> </span> visits to grocery stores per week.
    p Below is a bar graph of the number of days I visited the grocery store per week. Apparently, the week of 07/14 I went to the grocery store every single day of the week.
    #visitFreq.dc-chart
  .row
    table.dc-data-table.table.table-hover.dc-chart
      thead
        tr.header
          th item
          th category
          th store
          th cost
          th date
      tbody