doctype 5
html
  head
    title foodbill
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    - if (env === 'development')
      link(rel='stylesheet', href='stylesheets/style.css')
    - else
      link(rel='stylesheet', href='stylesheets/style.min.css')
  body
    .container
      h2 How much more does it cost to eat paleo or vegan?
      p In January of 2012, I set out to eat healthy. The problem was, I didn't know what that meant. A couple books, blog reading, and a documentary later, I decided the best way to find out what type of diet would be healthiest for me, would be to experiment. Of course, while experimenting, I had to collect data. So, I itemized every grocery receipt for an entire year during which 3 months I was whole foods vegan and 3 months I was paleo. Here are the results of the experiment. 
      p
        em Note: The data is not as clean as it could be. Sometimes I bought food for other people. The food I ate while eating out is not considered (though I didn't eat out too often). 
      block content
  script(src='javascripts/jquery.min.js') 
  script(src='javascripts/d3.min.js') 
  script(src='javascripts/crossfilter.min.js')  
  script(src='javascripts/dc.min.js') 
  script(src='javascripts/moment.min.js') 
  - if (env === 'development')
    script(src='javascripts/food.js')
  - else
    script(src='javascripts/food.min.js')
  